<h1><%= t('shieldify.mailer.reset_password_instructions.greeting', email: @user.email) %></h1>
<p><%= t('shieldify.mailer.reset_password_instructions.instructions') %></p>
<p><%= link_to t('shieldify.mailer.reset_password_instructions.change_password'), @reset_password_form_url %></p>
<p><%= t('shieldify.mailer.reset_password_instructions.link_expiration', expiration_hours: 24) %></p>
<p><%= t('shieldify.mailer.reset_password_instructions.ignore') %></p>